<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
  <meta charset="UTF-8">
  <title>Title</title>
  <link th:href="@{/styles/bootstrap/bootstrap.min.css}"
        rel="stylesheet"/>
  <script th:src="@{/scripts/bootstrap/bootstrap.bundle.js}"
          type="text/javascript"></script>
  <script th:src="@{/scripts/jquery/jquery.js}"
          type="text/javascript"></script>
</head>
<body>
<script th:src="@{/scripts/jswed/especilidad/frmMantAlumno.js}"
        type="text/javascript"></script>
<div class="card ">
  <div class="card-header text-bg-dark mb-3" size="5">
    Lista de Alumnos
  </div>
  <div class="card-body">
    <button id="btnagregar"
            type="button" class="btn btn-primary">Agregar</button>
    <hr />
    <div id="mensaje"></div>
    <table id="tblalumno" class="table">
      <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">apellido</th>
        <th scope="col">nombre</th>
        <th scope="col">especilidad</th>
        <th scope="col">procedencia</th>
        <th scope="col">Actualizar</th>
        <th scope="col">Eliminar</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="alumno :${listaAlumno}">
        <td th:text="${alumno.idalumno}"></td>
        <td th:text="${alumno.apealumno}"></td>
        <td th:text="${alumno.nomalumno}"></td>
        <td th:text="${alumno.especilidad.nomesp}"></td>
        <td th:text="${alumno.proce}"></td>
        <td>
          <button type="button" class="btn btn-info btnactualizar"
                  th:data-idalumno="${alumno.idalumno}"
                  th:data-apealumno="${alumno.apealumno}"
                  th:data-nomalumno="${alumno.nomalumno}"
                  th:data-idesp="${alumno.especilidad.idesp}"
                  th:data-proce="${alumno.proce}">Actualizar</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger btneliminar"
                  th:data-idalumno="${alumno.idalumno}"
                  th:data-apealumno="${alumno.apealumno}">Eliminar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalNuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">ALUMNO</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="txtnombre" class="form-label">nombre</label>
          <input type="text" class="form-control" id="txtnombre">
        </div>
        <div class="mb-3">
          <label for="txtapellido" class="form-label">apellido</label>
          <input type="text" class="form-control" id="txtapellido">
        </div>
        <div class="mb-3">
          <label for="cboespecilidad" class="form-label">Especilidad</label>
          <select id="cboespecilidad" class="form-control"></select>
        </div>
        <div class="mb-3">
          <label for="txtprocedencia" class="form-label">procedencia</label>
          <input type="text" class="form-control" id="txtprocedencia">
        </div>
        <input type="hidden" id="hddidalumno">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button id="btnregistrar" type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>